@model IEnumerable<Instagramp_2.Models.SearchTermModel>

@{
    ViewData["Title"] = "Friends";
}

<h1>Posts about Friends</h1>

@if (Model != null)
{
    @foreach (var item in Model)
{
        <br>
        <br>
        <br>
        <div class="searchcard">
            <div class="searchimg-container">
            <img src="@item.imgURL" class="card-img-top" alt="Image Name">
        </div>
            <div class="searchcard-body">
            <h5 class="card-title">@item.name</h5>
            <p class="card-text">@item.description</p>

            </div>
        </div>

}
}

else
{
    <div class="searchTerm">
        <h1>No search terms found</h1>
    </div>
}
