@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card">
    <div class="img-container">
        <img src="~/img/Mountain.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Mountain Vilage</h5>
        <p class="card-text">This weekend we went up to the Antiolan mountain range near Antelago Columbia</p>
        <a href="#" class="btn btn-primary">Comments</a>
    </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="img-container">
        <img src="~/img/Mountain2.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<br>
<br>
<br>
<div class="card">
    
    <div class="img-container">
        <img src="~/img/Mountain3.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Mountain Vilage</h5>
        <p class="card-text">This weekend we went up to the Antiolan mountain range near Antelago Columbia</p>
        <a href="#" class="btn btn-primary">Comments</a>
    </div>
</div>

